{{ partial "header.html" . }}
<aside class="section-nav">
    <nav id="subnavigation">
        <a class="sidebar-nav-item parent-nav-item" href="/club">Le club</a>

        <ul>
        {{ $currentNode := . }}
        {{ range .Site.Menus.club }}
        <li>
          <a class="sidebar-nav-item{{if or ($currentNode.IsMenuCurrent "club" .) ($currentNode.HasMenuCurrent "club" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
          {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
              <li{{if $currentNode.IsMenuCurrent "club" . }} class="active"{{end}}>
                <a href="{{.URL}}">{{ .Name }}</a>
                {{ if .HasChildren }}
                  <ul>
                    {{ range .Children }}
                    <li{{if $currentNode.IsMenuCurrent "club" . }} class="active"{{end}}>
                      <a href="{{.URL}}">{{ .Name }}</a>
                      
                    </li>
                    {{ end }}
                  </ul>
                {{ end }}
              </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
        {{ end }}
        </ul>

    </nav>
</aside>
<article>
    <div class="container">
        <section>
            {{ .Content }}
        </section>
    </div>
</article>
{{ partial "footer.html" . }}